<button type="button" class="close" mat-dialog-close>&times;</button>
<h2>Actualizar Contraseña</h2>
<hr>
<form [formGroup]="passwordFormGroup">
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña anterior" formControlName="lastPasswordCtrl"
                       required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field>
                <input matInput type="password" placeholder="Nueva contraseña" formControlName="password1Ctrl" required>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field>
                <input matInput type="password" placeholder="Repita nueva contraseña" formControlName="password2Ctrl"
                       required>
            </mat-form-field>
        </div>
    </div>
    <div class="text-right">
        <button mat-raised-button color="primary" (click)="updatePassword()">ACTUALIZAR</button>
        <button mat-raised-button mat-dialog-close>CANCELAR</button>
    </div>
</form>