footer {
  background-color: #f4f4f4;
}

footer .footer-container {
  padding: 10px 15px;
  height: 80px;
}

footer .copyright {
  background-color: #e2e2e2;
  padding: 10px 15px;
  min-height: 40px;
  font-size: 13px;
}